<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<style type="text/css">

    body .el-table th.gutter{
        display: table-cell!important;
    }

</style>
<div id="app">

    <template>


            <el-row :gutter="20" style="padding: 20px;">
                <el-col :span="4">
                    <el-select v-model="dbSelected"  placeholder="请选择" @change="queryGridData">
                        <el-option v-for="item in dbs" :key="item.id" :label="item.text" :value="item.id" ></el-option>
                    </el-select>

                </el-col>
                <el-col :span="6">
                    <el-input
                            placeholder="请输入表名"
                            v-model="tbName"
                            clearable>
                        <el-button slot="append" icon="el-icon-search" @click="initGridData"></el-button>
                    </el-input>
                </el-col>
                <el-col :span="2">

                    <el-button type="primary" @click="merge" :disabled="mergeDisabled">合并</el-button>
                </el-col>

            </el-row>

        <el-table v-loading="loading" :data="gridData" border :default-sort = "{prop: 'NUM_ROWS', order: 'descending'}" @selection-change="handleSelectionChange">
            <el-table-column fixed label=" " type="index" width="45" :show-overflow-tooltip="true" label="序号"></el-table-column>
            <el-table-column fixed type="selection" width="45" align="center" ></el-table-column>
            <el-table-column property="TABLE_NAME" label="表名" width="310" align="center"></el-table-column>
            <el-table-column property="NUM_ROWS" label="行数" width="200" align="center" sortable></el-table-column>
            <el-table-column property="NUM_COLUMNS" label="列数" width="200" align="center" sortable></el-table-column>
            <el-table-column
                     label="操作" align="center">

                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.$index, scope.row)">查看</el-button>
                </template>

            </el-table-column>
        </el-table>



            <el-pagination
                    @size-change="size_change"
                    @current-change="current_change"
                    :current-page="pagination.current_page"
                    :page-sizes="pagination.page_sizes"
                    :page-size="pagination.page_size"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pagination.total" style="padding: 20px;">



    </template>

    <el-dialog title="合并信息" :visible.sync="dialogTableVisible">
        <el-table :data="mergeData" border>
            <el-table-column type="index" label="序号" width="150"></el-table-column>
            <el-table-column property="TABLE_NAME" label="表名" width="200"></el-table-column>
            <el-table-column property="INSERT_COUNT" label="同步条数"></el-table-column>
            <el-table-column property="MESSAGE" label="信息"></el-table-column>
        </el-table>
    </el-dialog>

    <el-dialog title="表信息" :visible.sync="dialogTableStructVisible"  height="450" width="80%" >
        <el-table :data="tableStructData" border :header-cell-style="{
    'background-color': '#fafafa',
    'color': 'rgb(103, 194, 58)',
    'border-bottom': '1px rgb(103, 194, 58) solid',
    'border-top': '1px rgb(103, 194, 58) solid'
}" class="tb-edit" highlight-current-row >
            <el-table-column type="index" label="序号" width="150"></el-table-column>
            <el-table-column property="COLUMN_NAME" label="字段名称" width="200">

            </el-table-column>
            <el-table-column property="DATA_TYPE" label="字段类型"></el-table-column>
            <el-table-column property="DATA_LENGTH" label="字段长度">
                <template scope="scope">
                    <span v-if="scope.row.isSet">
                    <el-input size="small" v-model="scope.row.DATA_LENGTH" placeholder="请输入内容" @change="editTableStruct(scope.$index, scope.row)"></el-input>
                    </span>
                    <span v-else> {{scope.row.DATA_LENGTH}}</span>
                </template>
            </el-table-column>
            <el-table-column property="NULLABLE" :formatter="statusFormatter" label="是否为空"></el-table-column>
            <el-table-column
                    label="操作" align="center">

                <template slot-scope="scope">
                    <span v-if="scope.row.isSet">
                    <el-button
                            size="mini"
                            @click="saveTableStruct(scope.$index, scope.row)">保存</el-button>
                    </span>
                    <span  v-else>
                    <el-button
                            size="mini"
                            @click="editTableStruct(scope.$index, scope.row)">编辑</el-button>
                    </span>
                </template>

            </el-table-column>
        </el-table>
    </el-dialog>



</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="../jquery-easyui-1.7.0/jquery.min.js"></script>
<script>


    var vue = new Vue({
        el:'#app',
        methods:{initGridData:initGridData,size_change:size_change,current_change:current_change,loadDbs:loadDbs,
                 merge:merge,queryGridData : queryGridData,
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleCurrentChange(row, event, column) {
                console.log(row, event, column, event.currentTarget);
                row.isSet = "1";
            },

            handleEdit(index, row) {
                $.ajax({
                    url:'../getTableStruct',
                    type: 'POST',
                    dataType:'json',
                    data:{
                        "dbName":this.dbSelected,
                        "tbName":row.TABLE_NAME,
                    },
                    success:function(data){
                       var content = data.list;
                        for (let i = 0; i <content.length ; i++) {
                            content[i].isSet = null;
                        }
                        vue.tableStructData =data.list;
                        vue.dialogTableStructVisible =true;
                        vue.tbName =row.TABLE_NAME;
                    },
                    error:function(data){

                    }
                });
            },
            editTableStruct( inedx,row){
                row.isSet = "1";
            },
            saveTableStruct( inedx, row){
                row.isSet = null ;
                var obj ={};
                obj.content = row;
                $.ajax({
                    url:'../editTableStruct',
                    type: 'POST',
                    dataType:'json',
                    data:{
                        "dbName":this.dbSelected,
                        "tbName":vue.tbName,
                        "content" :JSON.stringify(row)
                    },
                    success:function(data){
                      if (data.code=='200'){
                          vue.$message({
                              showClose: true,
                              message: '修改字段成功！'
                          });
                      }
                      if(data.err){
                          vue.$message({
                              showClose: true,
                              message:data.content,
                              type: 'error'
                          });
                      }
                    },
                    error:function(data){
                        vue.$message({
                            showClose: true,
                            message:'网络错误',
                            type: 'error'
                        });
                    }
                });
            }
            ,
            handleSave:function(row){
                //保存数据，向后台取数据
                alert(2);
            },
            // 类型格式化
            statusFormatter(row, column) {
                let status = row.NULLABLE;
                if(status === 'Y'){
                    return  '是';
                } else {
                    return '否';
                }
            }
        },
         data:{  pagination :{},
                tbName : "",
                 loading :false,
                 editFlag :true,
                dbs:[],
                tbName:'',
                 inputColumn1:'',
                dialogTableStructVisible :false,
                tableStructData :[],
                mergeData:[],
                dialogTableVisible:false,
                gridData:  [],
                isMaster :"1",
                dbSelected:"",
                formLabelWidth: '120px',
                mergeArr:[],//存放批量修改的数据
                mergeDisabled:false
            },
        mounted:function(){
            this.pagination={
                total:this.gridData.length,
                page_sizes:[10,20,50,100,200],
                page_size:10,
                current_page:1
            };
            this. loadDbs();
            this.initGridData();



        }
    });

    function merge() {
        const length = this.multipleSelection.length;
        if (length ==0) {
            this.$message({
                showClose: true,
                message: '请选择至少一条数据',
                type: 'warning'
            });
        }

        var obj ={};
        obj.tbs =this.multipleSelection;
        vue.loading =true;
        var surl =  "../mergeData";
        $.ajax({
            url:surl,
            type: 'POST',
            dataType:'json',
            data:{
                "dbName":this.dbSelected,
                "tbCollection":JSON.stringify(obj),
            },
            success:function(data){
                vue.mergeData = data.list ;
                vue.dialogTableVisible=true;
                vue.loading =false;
            },
            error:function(data){
                vue.loading =false;
            }
        });

    }


    function loadDbs(o){
        $.ajax({
            url:'../getAllByDB',
            type: 'POST',
            dataType:'json',
            success:function(data) {
                vue.dbs = data.list;
                var  list =data.list;
                for (var i = 0; i < list.length; i++) {
                    if(list[i].IS_MASTER ==1 ){
                       vue.dbSelected = list[i].id;
                       vue.isMaster = 1;
                       vue.mergeDisabled =true;
                    };
                }
            }
        });
    }


    function initGridData(o){
        this.loading =true;
        $.ajax({
            type : "POST",
            dataType : "json",
            url : "../getTableByDB",
            data : {
                page : this.pagination.current_page,
                rows : this.pagination.page_size,
                dbName :this.dbSelected,
                tbName :this.tbName
            },
            success : function(data) {
                vue.gridData = data.rows;
                vue.pagination.total = data.total;
                var list = vue.dbs;
                vue.loading =false;
            },
            error : function(err) {
                vue.$notify({
                    title: '警告',
                    message: '加载列表数据时出错',
                    position: 'bottom-right'
                });
                vue.loading =false;
            }
        });

    }

    function queryGridData(selVal){
        var lis = vue.dbs;
        var flag = 0;
        for(var i=0 ;i<lis.length ;i++){
            if( lis[i].IS_MASTER ==1 && lis[i].id ==selVal){
                vue.mergeDisabled =true;
                flag=1;
            }
        }
        if (flag ==0){
            vue.mergeDisabled =false;
        }

        vue.loading =true;
        $.ajax({
            type : "POST",
            dataType : "json",
            url : "../getTableByDB",
            data : {
                page : this.pagination.current_page,
                rows : this.pagination.page_size,
                dbName :this.dbSelected,
                tbName :this.tbName
            },
            success : function(data) {
                vue.gridData = data.rows;
                vue.pagination.total = data.total;
                var list = vue.dbs;
                vue.loading =false;
            },
            error : function(err) {
                vue.$notify({
                    title: '警告',
                    message: '加载列表数据时出错',
                    position: 'bottom-right'
                });
                vue.loading =false;
            }
        });

    }

    function size_change(o){
        this.pagination.page_size = o;
        this.initGridData();
    }
    function current_change(o){
        this.pagination.current_page = o;
        this.initGridData();
    }

</script>
</html>